@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="mt-5" style="margin-top: 6rem;">
        <h1 class="display-4">Empréstimos Online</h1>
        <p class="mt-5">Deixe um livro te mostrar que o impossível é só uma questão de perspectiva!</p>
    </div>
    
    <div class="mt-4">
        <img src="/img/book.png" alt="Livro Aberto" class="w-50 h-50" />
    </div>

</div>